@use 'const';
@use 'common';

.timeline-axis {
  display: flex;
  padding: 0px 20px 5px 20px;
  background: white;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
  margin-bottom: 25px;
  position: sticky;
  top: 0px;
  z-index: 9999;
}

.timeline-axis-first-col {
  flex-basis: const.$timeline-first-col-width;
}

.timeline-axis-year {
  width: const.$timeline-axis-year-witdh;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 2.75rem;
  color: gainsboro;
}

.timeline-artists {
  margin: 10px 20px;
}

.timeline-artist {
  display: flex;
  height: 125px;
  background-color: #fafafa;
  border-radius: 20px;
  margin: 10px 0px;
  box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.15);
}

.timeline-artist-first-col {
  flex-basis: const.$timeline-first-col-width;
  display: flex;
  align-items: center;
  background: linear-gradient(rgb(53, 53, 53), rgb(70, 70, 70));
  background-size: cover;
  background-position: 50% 35%;
  border-radius: 20px;
  box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0);
  position: sticky;
  left: 0;
  z-index: 10;
  h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    padding: 15px;
    font-size: 1.7rem;
  }
}

.timeline-artist-disco {
  display: flex;
  align-items: center;
  position: relative;
}

.timeline-artist-disco-album {
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.3);
  height: const.$album-width;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale(2.5);
    z-index: 9;
  }
}

.button-remove {
  @extend .close-button;
}

@media (max-width: const.$small-breakpoint) {
  .timeline-axis-first-col {
    flex-basis: const.$timeline-first-col-width-sm;
  }

  .timeline-artist-first-col {
    flex-basis: const.$timeline-first-col-width-sm;
    h2 {
      font-size: 1.3rem;
    }
  }
}
