@use 'css/timelines';
@use 'css/search_artist';
@use 'css/nav';
@use 'css/modal';
@use 'css/const';

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#app {
  width: fit-content;
}

#sticky-top-container {
  position: sticky;
  top: 0px;
  z-index: 9999;
}
