$timeline-first-col-width: 250px;
$timeline-axis-year-witdh: 128px;
$album-width: 64px;

body {
  margin: 0px;
}
.timelines {
}

.timeline-axis {
  display: flex;
}

.timeline-axis-first-col {
  flex-basis: $timeline-first-col-width;
}

.timeline-axis-year {
  width: $timeline-axis-year-witdh;
  text-align: center;
}

.timeline-artist {
  display: flex;
  height: 64px;
}

.timeline-artist-first-col {
  flex-basis: $timeline-first-col-width;
  background-size: cover;
  background-position: center center;
}

.timeline-artist-disco {
  display: flex;
  position: relative;
  background-color: red;
}

.timeline-artist-disco-album {
  display: flex;
  width: $album-width;
  height: 64px;
}
