$body-color: red;

body {
  color: $body-color;
}

body {
  margin: 0px;
}

.flex {
  display: flex;
}

.artist {
  height: 64px;
}

.album {
  width: 64px;
  height: 64px;
}

.year {
  width: 128px;
  text-align: center;
  border: 0px solid black;
}

.first-col {
  flex-basis: 250px;
  background-size: cover;
  background-position: center center;
  color: white;
}

/*
.timeline {
  height: 64px;
  display: flex;
}

[data-artist] {
  display: flex;
}

[data-artist-discography] {
  display: flex;
}

[data-timelines-axis] {
  display: flex;
}

.first-col {
  width: 200px;
  height: 64px;
}

.album {
  height: 64px;
  width: 64px;
  border-radius: 5px;
  position: absolute;
}

.year {
  width: 64px;
  text-align: center;
} */
