@use 'const';

#timelines {
  margin: 10px 20px;
}

.timeline-axis {
  display: flex;
  margin: 10px 0px;
}

.timeline-axis-first-col {
  flex-basis: const.$timeline-first-col-width;
}

.timeline-axis-year {
  width: const.$timeline-axis-year-witdh;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 2.75rem;
  color: gainsboro;
}

.timeline-artist {
  display: flex;
  height: 110px;
  background-color: #fafafa;
  border-radius: 20px;
  margin: 10px 0px;
  box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.15);
}

.timeline-artist-first-col {
  flex-basis: const.$timeline-first-col-width;
  display: flex;
  align-items: center;
  background: linear-gradient(rgb(53, 53, 53), rgb(70, 70, 70));
  background-size: cover;
  background-position: center center;
  border-radius: 20px;
  box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0);
  position: relative;
  h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    padding: 15px;
    font-size: 1.7rem;
  }
}

.timeline-artist-disco {
  display: flex;
  align-items: center;
  position: relative;
}

.timeline-artist-disco-album {
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.3);
  width: const.$album-width;
  height: const.$album-width;
  border: 3px solid gainsboro;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(2.5);
    z-index: 9999;
  }
  background-size: cover;
  background-position: center center;
}

.button-remove {
  background: #1ed760;
  height: 1.6em;
  width: 1.6em;
  border: 0px solid #1ed760;
  border-radius: 2em;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 8px;
  color: white;
  font-weight: 800;
  position: absolute;
  top: 0px;

  font-family: "Roboto", sans-serif;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.7);
  &:hover {
    transition: all 0.1s ease-in-out;
    background-color: #1db954;
  }
  &:active {
    transition: all 0.1s ease-in-out;
    background-color: #1ed760;
  }
}
